body{
    background-color: #FAFAFA;
}

#app{
    width: 940px;
    margin : auto ;
    margin-top: 10px;
    background-color: white;
    border: 0.5px black solid;
    height: 70vh;
    font-family: “adobe-clean”, sans-serif;
}

.navbar-search-btn{
    background-color: #5C5C5C
}
.star-rating{
	font-size: 0;
}
.star-rating__wrap{
	display: inline-block;
	font-size: 1rem;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #5C5C5C;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}
.category-font{
    font-weight: "bold"
}
.circle{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #5C5C5C;
}
.position-star-rating{
    margin-top: 15px;
    margin-bottom : 20px;
    position: relative;
    margin-left: -2.4vh ;
}
.infos-position{
    margin-bottom:15px;
}
.navbar-color{
    background-color: #525252;
}
.button-add-bag 
    {
        background-color: white;
        color: black;
        border: 2px solid #555555;
        margin-top: 15px;
    margin-bottom : 20px;
    padding: 2px;
      }
  .button-add-bag:hover {  
    background-color: #555555;
    color: white;}
  .star {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
}
.star:before {
   content: "\2605";
   position: absolute;
   visibility:visible;
}
.star:checked:before {
   content: "\2606";
   position: absolute;
}
.position-quantity{
    margin-top: 15px;
    margin-bottom : 20px;
    position: absolute;
    margin-left: 25%;
}
.size-position{
    margin-top: 15px;
    margin-bottom : 20px;
}
.favstar-position{
    position: relative;
    margin-left: 10%;
    size: 20px;
}
.styling-pos{
    margin-top: 15px;
    margin-bottom : 20px;
    position: relative;
    margin-left: -2vh;
}
.rating-sent-pos{    
    margin-bottom : 10px;
    position: relative; 
    text-decoration: underline
}