html,body{
    background-color: #FAFAFA;
    height: 100%;
    margin:0; 
    padding:0;
    overflow-x:hidden;
}

#app{
    width: 940px;
    margin : auto ;
    margin-top: 5px;
    background-color: white;
    border: 0.5px black solid;
    height: 100%;
    font-family: “adobe-clean”, sans-serif;
}

.navbar-search-btn{
    background-color: #5C5C5C
}
.star-rating{
	font-size: 0;
}
.star-rating__wrap{
	display: inline-block;
	font-size: 1rem;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #5C5C5C;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}
.category-font{
    font-weight: "bold"
}
.circle{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #27ae60  ;
  
}

.position-star-rating{
    margin-top: 15px;
    margin-bottom : 20px;
    position: relative;
    margin-left: -2.4vh ;
}
.infos-position{
    margin-bottom:15px;
}
.navbar-color{
    background-color: #525252;
}
.button-add-bag 
    {
        background-color: white;
        color: black;
        border: 2px solid #555555;
        margin-top: 15px;
    margin-bottom : 20px;
    padding: 2px;
      }
  .button-add-bag:hover {  
    background-color: #555555;
    color: white;}
  .star {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
}
.star:before {
   content: "\2605";
   position: absolute;
   visibility:visible;
}
.star:checked:before {
   content: "\2606";
   position: absolute;
}
.position-quantity{
    margin-top: 15px;
    margin-bottom : 20px;
    position: absolute;
    margin-left: 45%;
}
.size-position{
    margin-top: 15px;
    margin-bottom : 20px;
 
}
.favstar-position{
    position: absolute;
    margin-left:23vh;
    bottom: 28%;
    border: 30px bold black;
}
.styling-pos{
    margin-top: 15px;
    margin-bottom : 20px;
    position: relative;
    margin-left: -2vh;
}
.rating-sent-pos{    
    margin-bottom : 10px;
    margin-left: 10px;
    position: relative; 
    font-size: 1.5vh;
    text-decoration: underline
}
.circle2{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #a15f3b  ;
    margin-left: 1vh;
    margin-right:1vh
  
}

.circle3{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #0077be;
    margin-left: -1px;
  
}

.circle4{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #FF5733 ;
    margin-left: 3.3px;
    
}

.circle5{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #87ceeb ;

}

.circle6{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #A9A9A9  ;
    margin-left: 1vh;
    margin-right:1vh;
   
}

.circle-pos-pos{
    margin-top: 15px;
    margin-bottom : 20px;
    position: relative;
    margin-left: 5%;
}

.select-size{
    height: 150%;
    width: 170%;
    width: 120px;
    border: 1px solid black;
}
.select-quantity{
    width: 120%;
    margin-left: -30%;
    width: 70px;
  border: 1px solid black;
}
.select-quantity{
    padding:7px
}
.info-pos{
    position: relative;
    bottom: -3vh;
}
.image-pos{
position:static ;

width:90%;
height: 30%;

}
.mes-mes{
    position: relative;
    font-family: italic;
    margin-left: 20.5%;
    font-size: 1.8vh;
    margin-bottom: 1%;
}
.name-font-size{
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 250%;
}

  .logo-colorrrr{
      color: white;
      text-decoration: underline;
      font:italic bold 20px/30px Georgia, serif ;
  }
  .input-styling{
      background-color:#525252 ;
      border:none;
      border-bottom: 2px solid white;
      width: 170px;
      outline: none;
      color:white
  }
  .Colored-Star-rating{
    color: #525252;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #525252;
}
.catcat-posi{
    position: relative;
    margin-top: -3vh;
}
.pricoux{
    position: relative;
    margin-top: 3vh;
}
.circle-clicked{
    border:2px black solid;
}
.zoomchecki:active{
    transform: scale(1.9);
    cursor: zoom-out;
}
.search-result{

   margin-left: 42.3%;
   position: absolute;
   background-color: #f1f2f6;
   font-family: "adobe-clean", sans-serif;;
   font-size: 15px;
   width: 160px;
   z-index:1;
}
.search-element:hover{
    background-color: white;
    cursor: pointer;
}
.buy-button-container {
    width: 150px;
    margin:200px auto 0;
    position:relative;
  }
  .buy-button {
    position:relative;
    z-index:5;
    display:block;
    background-color: black;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    line-height:16px;
    font-family: "Proxima Nova Regular","Helvetica Neue",Arial,Helvetica,sans-serif;
    width: 150px;
    padding: 15px;
    margin: 20px auto;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all .2s ease-in;
    box-sizing: border-box;
    background-position:center center;
    background-repeat:no-repeat;
  }
  
  .party-explosion {
    position:absolute;
    transform: translate(-25px, -150px);
    z-index:-1;
  }
  .boom {
    animation: explode-bkgrd .7s 1 alternate;
  }
  .buy-button.boom:hover {
    content:'';
    position:absolute;
    z-index:-1;
    opacity:0;
    left:-25px;
    top:-70px;
    width:200px; 
    height:200px; 
    border:dotted 1px black;
    border-radius:200px;
    /* animation: explode-shockwave 1s 1 alternate; */
  }
  @-webkit-keyframes explode-bkgrd {
    0%{
      background-image:radial-gradient(black, black);
      background-size: 50%;
      font-size: 14px;
    }
    50%{
      font-size: 16px;
    }  
    90% {
      background-image:radial-gradient(black, black);
      background-size: 200%;
    }
    100% {
      background-image:radial-gradient(black, black);   
    }
  }
  
  @-webkit-keyframes explode-shockwave {
    0%{
      opacity:.4;
    }
    100% {
      opacity:0;
      width:400px;
      height:400px;
      left:-125px;
      top:-170px;    
    }
  }
  .btn-positi{
      position:absolute;
      margin-top: 16px;
}