html,body{
    background-color: #FAFAFA;
    height: 100%;
    margin:0; 
    padding:0;
    overflow-x:hidden;
}

#app{
    width: 940px;
    margin : auto ;
    margin-top: 5px;
    background-color: white;
    border: 0.5px black solid;
    height: 100%;
    font-family: “adobe-clean”, sans-serif;
}

.navbar-search-btn{
    background-color: #5C5C5C
}
.star-rating{
	font-size: 0;
}
.star-rating__wrap{
	display: inline-block;
	font-size: 1rem;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #5C5C5C;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}
.category-font{
    font-weight: "bold"
}
.circle{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #27ae60  ;
}
.circle:hover{
    border: 5px solid black;
}
.position-star-rating{
    margin-top: 15px;
    margin-bottom : 20px;
    position: relative;
    margin-left: -2.4vh ;
}
.infos-position{
    margin-bottom:15px;
}
.navbar-color{
    background-color: #525252;
}
.button-add-bag 
    {
        background-color: white;
        color: black;
        border: 2px solid #555555;
        margin-top: 15px;
    margin-bottom : 20px;
    padding: 2px;
      }
  .button-add-bag:hover {  
    background-color: #555555;
    color: white;}
  .star {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
}
.star:before {
   content: "\2605";
   position: absolute;
   visibility:visible;
}
.star:checked:before {
   content: "\2606";
   position: absolute;
}
.position-quantity{
    margin-top: 15px;
    margin-bottom : 20px;
    position: absolute;
    margin-left: 25%;
}
.size-position{
    margin-top: 15px;
    margin-bottom : 20px;
}
.favstar-position{
    position: relative;
    margin-left: 10%;
    size: 20px;
}
.styling-pos{
    margin-top: 15px;
    margin-bottom : 20px;
    position: relative;
    margin-left: -2vh;
}
.rating-sent-pos{    
    margin-bottom : 10px;
    margin-left: 10px;
    position: relative; 
    font-size: 1.5vh;
    text-decoration: underline
}
.circle2{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #a15f3b  ;
  
}
.circle2:hover{
    border: 5px solid black;
}
.circle3{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #0077be;
  
}
.circle3:hover{
    border: 5px solid black;
}
.circle4{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #FF5733 ;

}
.circle4:hover{
    border: 5px solid black;
}
.circle5{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #87ceeb ;
}
.circle5:hover{
    border: 5px solid black;
}
.circle6{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #A9A9A9  ;
}
.circle6:hover{
    border: 5px solid black;
}
.circle-pos-pos{
    margin-top: 15px;
    margin-bottom : 20px;
    position: relative;
    margin-left: 5%;
}

.select-size{
    height: 150%;
    width: 170%;
}
.select-quantity{
    width: 120%;
    margin-left: 30%;
}
.info-pos{
    position: relative;
    bottom: -3vh;
}
.image-pos{
position:relative;
bottom:-5vh;
}
.mes-mes{
    position: relative;
    font-family: italic;
    margin-left: 26.5%;
    font-size: 2vh;
    margin-bottom: 1%;
}
.name-font-size{
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 250%;
}
.image-positioné{
 
    margin-top: -80px;
  
}

  .logo-colorrrr{
      color: white;
      text-decoration: underline;
      font:italic bold 20px/30px Georgia, serif ;
  }
  .input-styling{
      background-color:#525252 ;
      border:none;
      border-bottom: 1px solid white;
      width: 120px;
      outline: none;
      color:white
  }
  .Colored-Star-rating{
    color: #525252;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #525252;
}
.carousel-posi{
    position: relative;
    margin-top: -5%;
}
.catcat-posi{
    position: relative;
    margin-top: -3vh;
}
.pricoux{
    position: relative;
    margin-top: 3vh;
}